body 
{
    background-color: #8BED8F;
}
h1
{
    font-size   : 27px;
    text-align  : center;
    font-family : 'Courier New', Courier, monospace;
}
#credits
{
    font-size   : 12px;
    text-align  : center;
    font-family : 'Courier New', Courier, monospace;
}
#game
{
    width      : 100%;
    text-align : center;
}